{% extends "base.html" %} 
 {% block content%}
	<div class="container-fluid" id="jumbo-holder">
    <h1 class="text-center">{{user.firstname + " " + user.lastname}}</h1>
    <div class="jumbotron" id="form-holder">
        <form method="POST" name="edit-recipe" action="/edit/{{recipe.id}}">
            <div class="row text-center">
           
                   
                    <input type="text" value="{{recipe.name}}" name="name">
                     
            </div>
            <br><br><br>
            <div class="row text-center">
                <input type="text" value="{{recipe.category}}" name="category">
            </div>
            <br><br><br>
            <div class="row text-center">
               	
                     <textarea name="content" id="" cols="30" rows="10">{{ recipe.content }}</textarea>
               
            </div><br><br><br>
            <div class="row text-center">
                <div class="col-sm-2"></div>
                <div class=" row col-sm-8">
                    <div class="col-sm-5"></div>
                    <div class="col-sm-3">
                        <input type="submit" value="Submit" class="submit">
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </form>
    </div>
</div>
 {% endblock %}