{% extends "base.html" %} 
 {% block content%}
	<div class="container-fluid" id="jumbo-holder">
    <h1 class="text-center">Create an account below to start using Yummy Recipes</h1>
    <div class="jumbotron" id="form-holder">
        <form method="POST" name="new-recipe">
             {{ form.hidden_tag() }}
            <div class="row text-center">
           
                    {{ form.name(size=80, class = "place-holder", placeholder="Recipe Name")}}
                     
            </div>
            <br><br><br>
            <div class="row text-center">
                
                    {{ form.category(size=80, class = "place-holder", placeholder=" Recipe Category")}}
            </div>
            <br><br><br>
            <div class="row text-center">
               	{{ form.content(size=80, class = "place-holder", placeholder="Enter recipe Contents ")}}
                    
               
            </div><br><br><br>
            <div class="row text-center">
                <div class="col-sm-2"></div>
                <div class=" row col-sm-8">
                    <div class="col-sm-5"></div>
                    <div class="col-sm-3">
                        <input type="submit" value="Add Recipe" class="submit">
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </form>
    </div>
</div>
 {% endblock %}