 {% extends "base.html" %} 
 {% block content%}
<div class="container-fluid" id="jumbo-holder">
    <h1 class="text-center">Create an account below to start using Yummy Recipes</h1>
    <div class="jumbotron" id="form-holder">
        <form method="POST" name="register">
             {{ form.hidden_tag() }}
            <div class="row text-center">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    {{ form.firstname(size=80, class = "place-holder", placeholder="First Name")}}
                </div>
                <br>
                <br>
                <div class="col-sm-4">
                    {{ form.lastname(size=80, class = "place-holder", placeholder="Last Name")}}
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div style="min-height: 30px"></div>
            <div class="row text-center">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    {{ form.mobilenumber(size=80, class = "place-holder", placeholder="Mobile Number")}}
                </div>
                <br>
                <br>
                <div class="col-sm-4">
                    {{ form.email(size=80, class = "place-holder", placeholder=" Email")}}
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div style="min-height: 30px"></div>
            <div class="row text-center">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    {{ form.password(size=80, class = "place-holder", placeholder=" Password")}}
                </div>
                <br>
                <br>
                <div class="col-sm-4">
                    {{ form.password2(size=80, class = "place-holder", placeholder=" Password")}}
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div style="min-height: 30px"></div>
            <div class="row text-center">
                <div class="col-sm-2"></div>
                <div class=" row col-sm-8">
                    <div class="col-sm-5"></div>
                    <div class="col-sm-3">
                        <input type="submit" value="Create Account" class="submit">
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </form>
    </div>
</div>
{% endblock %}