 {% extends "base.html" %} {% block content%}
<div class="container-fluid text-center" id="jumbotron-holder">
    <h2 class="text-center">Hello {{user.firstname}}</h2>
    <div class="jumbotron" id="content-holder">
        <div class="row">
            
                <a href=" {{ url_for( 'new_recipe') }} ">
                    <button class="btn btn-large btn-primary">Add a new Recipe</button>
                </a>
        </div><br><br>
        <div class="row text-center text-center">
            {% if recipes %}

            <table class="table">
                
                <tr>
                    <th></th>
                    <th class="text-center">Recipe Name</th>
                    <th class="text-center">Category</th>
                </tr>
                <tbody>
                    {% for each_recipe in recipes %}
                    <tr>
                        <td><a href="/view/{{ each_recipe.id }}">View</a></td>
                        <td class="text-center">{{ each_recipe.name }}</td>
                        <td class="text-center">{{ each_recipe.category }}</td>
                        <td>
                            <a href="/edit/{{ each_recipe.id }}">
                                <p class="text-primary">Edit</p>
                            </a>
                        </td>
                        <td>
                            <a href="">
                                <p class="text-danger">Delete</p>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
             {% else %}
            <br><br><br>
               
                    <p class="text-center">You have no Recipes Yet</p></div>
               
                
            {% endif %}
            </div>
{% endblock %}